<div class="row">
    <hr>
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Trabajo 1</h2> - <h3>(años)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos quo doloribus non ea pariatur, itaque numquam quidem consectetur, totam temporibus voluptate minus ullam voluptatibus ducimus nam vel mollitia, repellendus commodi?
            </p>
            <li>
                <h2>Trabajo 2</h2> - <h3>(años)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos quo doloribus non ea pariatur, itaque numquam quidem consectetur, totam temporibus voluptate minus ullam voluptatibus ducimus nam vel mollitia, repellendus commodi?
            </p>
            <li>
                <h2>Trabajo 3</h2> - <h3>(años)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos quo doloribus non ea pariatur, itaque numquam quidem consectetur, totam temporibus voluptate minus ullam voluptatibus ducimus nam vel mollitia, repellendus commodi?
            </p>
        </ul>
    </div>
</div>
