
.row{
    padding: 20px;
    background-color: #a3bfdb;
}

.contenedor{
    width: auto;
}

.titulo, .imagen{
    display: inline-block;
    text-align: justify;
}
#img{
    box-shadow: 10px 10px 30px black;
}