<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil.jpg" class="img-fluid" id="fotoP">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >
        <p id="nombre" >Manuel Ignacio Cañas</p>
        <p >Full stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus consequatur libero sequi quam quae delectus, soluta nisi, et blanditiis tempore, nam a? Sint dolore nobis tempore voluptatem assumenda, accusantium consequuntur.</p>
        </span>
    </div>
</div>