<div class="row">
    <hr>
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="50"
    [radius]="100"
    [subtitleFontSize]="'20px'"
    [imageSrc]="'../assets/angular.png'"
    [showImage]="true"
    [imageWidth]="100"
    [imageHeight]="100"
    [subtitleColor]="'black'"
    [showTitle]="true"
    [maxPercent]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#FF3333'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animateTitle]="true"
    [animationDuration]="1000"
    >
    </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="75"
    [radius]="100"
    [subtitleFontSize]="'20px'"
    [imageSrc]="'../assets/css.png'"
    [showImage]="true"
    [imageWidth]="100"
    [imageHeight]="100"
    [subtitleColor]="'black'"
    [showTitle]="true"
    [maxPercent]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#FF3333'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animateTitle]="true"
    [animationDuration]="1000"
    >
    </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="90"
    [radius]="100"
    [subtitleFontSize]="'20px'"
    [imageSrc]="'../assets/html.png'"
    [showImage]="true"
    [imageWidth]="100"
    [imageHeight]="100"
    [subtitleColor]="'black'"
    [showTitle]="true"
    [maxPercent]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#FF3333'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animateTitle]="true"
    [animationDuration]="1000"
    >
    </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="60"
    [radius]="100"
    [subtitleFontSize]="'20px'"
    [imageSrc]="'../assets/java.png'"
    [showImage]="true"
    [imageWidth]="100"
    [imageHeight]="100"
    [subtitleColor]="'black'"
    [showTitle]="true"
    [maxPercent]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#FF3333'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animateTitle]="true"
    [animationDuration]="1000"
    >
    </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="75"
    [radius]="100"
    [subtitleFontSize]="'20px'"
    [imageSrc]="'../assets/js.png'"
    [showImage]="true"
    [imageWidth]="100"
    [imageHeight]="100"
    [subtitleColor]="'black'"
    [showTitle]="true"
    [maxPercent]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#FF3333'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animateTitle]="true"
    [animationDuration]="1000"
    >
    </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="55"
    [radius]="100"
    [subtitleFontSize]="'20px'"
    [imageSrc]="'../assets/mysql.jpg'"
    [showImage]="true"
    [imageWidth]="100"
    [imageHeight]="100"
    [subtitleColor]="'black'"
    [showTitle]="true"
    [maxPercent]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#FF3333'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animateTitle]="true"
    [animationDuration]="1000"
    >
    </circle-progress>
    </div>
    
</div>
